.main{
	padding-bottom: 150px;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	width: 269px;
	height: 95px;
}	

.input{
	width: 550px;
	height: 74px;
	margin-left: auto;
	margin-right: auto;
}

span.username{
	 color: #828282;
}

.text {
    font-family: arial,sans-serif;
    font-size: 13px;
}
a.f-link{
	color: #666;
}

li{
	display: inline-block;
    vertical-align: middle;
}

li.nav-label{
	margin-right: 15px;
}

li.f-label{
	margin-right: 35px;
}

.f-left{
	float: left;
	margin: 0;
}

.f-right{
	float: right;
	margin: 0;
}

#input{
	margin-top: 25px;
	padding: 0px;
	height: 25px;
	width: 100%;
}

.buttons{
	font-family: arial,sans-serif;
	margin-right: 1%;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 10px;
  	-webkit-border-radius: 2px 2px;
  	border: solid 1px rgb(153, 153, 153);
  	background-color:#f5f5f5;
  	color: #333;
  	text-decoration: none;
  	cursor: pointer;
  	display: inline-block;
  	text-align: center;
  	text-shadow: 0px 1px 1px rgba(255,255,255,1);
  	line-height: 1;
	margin-top: -10px;

}
.tbImages{
	margin-top: 6px;
}

.nav{
	

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-left: -10px;
}
a{
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 13px;
}

.img{
	text-align: right;
}

.userPhoto{
	border-radius: 50%;
    width: 33px;
    height: auto;
}

.gmail{
	text-align: right;
}

.gplus{
	text-align: right;
}

.menu{
	background-image: url("https://ssl.gstatic.com/gb/images/i1_71651352.png");

}

.footer{
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
   	width:100%;;
	background: none repeat scroll 0% 0% #F2F2F2;
	border-top: 1px solid #E4E4E4;
	line-height: 40px;
	
}

